.main{
    background-color: var(--color-backGround);
   margin: 3rem 0 3rem 1.5rem;
   
    padding-bottom: 5rem
   
}

.main h2, .main h3 {
    color: white;
    margin: 1.5rem 1.5rem;
    font-family: 'Roboto Condensed', sans-serif
    
}

.albumContainer{
    display: flex;
    justify-content: left;
    gap: auto;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}


.albumBox{
    background-color: var(--color-album-backGround);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    width: 12.5rem;
    transition: all .3s;
      text-decoration: none; 
    padding-bottom: 1rem
   
}

.albumBox:hover{
    transform: translateY(2);
    background-color: var(--color-backGround-hover);
}

.albumName {
   
    font-weight: 700;
}
.albumName,
.artistName{
    color: White;
    padding: .5rem 1rem;
    text-align: left;
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.artistName {
    font-size: .9rem;
    color: rgb(177, 171, 171)
}

.albumImage{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .7rem 0 ;
}
.albumImage img{
   border-radius: 5px;
    width: 9rem;
    height: 9rem;
}

.artistImage img {
  border-radius: 50%;
}

/* ===> player button on music box  */

