.main{
    background-color: var(--color-backGround);
    position: relative
}
.main h3{
    color:white
}
.main input{
    padding: .7rem;
    width: 20rem;
    font-family: 'Roboto Condensed', FontAwesome, sans-serif;
    font-size: 1.1rem;
    text-align: left;
    margin: 1.5rem 3rem;
    border: 1px solid black;
    border-radius: 2rem;

}

