.main {
  background-color: var(--color-backGround);
  position: relative;
  padding-top: 7rem;
}

.mainScroll {
  padding-top: 9rem
}

.main > h3 {
  color: white;
  font-size: 2rem;
  font-family: 'Roboto Condensed', sans-serif;
  padding-left: 1.5rem;
    margin-bottom: 1.5rem;
}
.main input {
  padding: 0.7rem;
  width: 20rem;
  font-family: "Roboto Condensed", FontAwesome, sans-serif;
  font-size: 1.1rem;
  text-align: left;
  margin: 1.5rem 3rem;
  border: 1px solid black;
  border-radius: 2rem;
}

.categoryBox{
    width: 12rem;
    height: 12rem;
   position: relative;
   overflow: hidden;
   border-radius: 10px;
}

.categoryBox img{
    width: 6.5rem; 
    height: 6.5rem;
    position: absolute;
    
    bottom: -.5rem;
    right: -1.5rem;
    transform: rotate(20deg);
   
    
}

.categoryBox h3{
    font-size: 1.3rem;
    
    color: white;
    margin: 1rem 1rem;
    font-family: 'Roboto Condensed', sans-serif
}

.searchBar {
  position: fixed;
  top: 0;
  z-index: 50;
  background-color: var(--color-backGround);
  width: 100%;
}
