@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');
 /* ===> This is for the description  font-family: 'Roboto Condensed', sans-serif; */
/* 

 */
@import url('https://fonts.googleapis.com/css2?family=Volkhov:wght@400;700&display=swap');
/* font-family: 'Volkhov', serif; ===> This is the headline 
 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root{
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  scrollbar-width: none; 
}

::-webkit-scrollbar {
    display: none;
}

:root {
  --color-green: #00af91;
  --color-orange: #f58634;
  --color-backGround: #180a0a;
  --color-backGround-hover: #352626;
  --color-album-backGround: #220e0e;
  --color-gold: #ffcc29;
}
