.main {
  background-color: transparent;
  margin: 3rem 0 3rem 1.5rem;
  padding-bottom: 5rem;
  font-family: Helvetica, sans-serif;
  color: white;
}
.main h1 {
  color: white;
  padding-bottom: 2rem;
  font-family: Helvetica, sans-serif;
}

.playlist_container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.main h2,
h5 {
  color: white;
}
.main h2 {
  padding-bottom: 1rem;
}
.reminderBox {
  width: 20rem;
  height: 11rem;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--color-album-backGround);
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    var(--color-orange),
    var(--color-green)
  );
}

.reminderText {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.reminderBox button {
  background-color: transparent;
  border: none;
  color: white;
  margin-left: auto;
}
.reminderBox a {
  text-decoration: none;
  font-size: 0.75rem;
  background-color: var(--color-album-backGround);
  color: white;
  border-radius: 15px;
  padding: 10px 20px;
  margin-left: 1rem;
}
