.main {
  margin: 3rem 0 3rem 1.5rem;
  padding-bottom: 5rem;
  font-family: Helvetica, sans-serif;
  color: white;
  display: flex;
  top: -5rem;
  transition: all .2s;
  animation: moveInBottom .5s ease-out;
}
.main h1 {
  color: white;
  padding-bottom: 2rem;
  font-family: Helvetica, sans-serif;
}

.playlist_container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.main h2,
h5 {
  color: white;
}
.main h2 {
  padding-bottom: 1rem;
  font-size: calc(0.7rem + 2vw);
}
.reminderBox {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;

  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    var(--color-orange),
    var(--color-green)
  );
}
.songImage img {
  background-color: black;
  border-radius: 10px;
  width: calc(8rem + 8vw);
  height: calc(8rem + 8vw);
  margin: auto 1rem;
}

.reminderText {
  width: calc(7rem + 20vw);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.reminderBox button,
.reminderBox a {
  text-decoration: none;
  font-size: 0.75rem;
  background-color: var(--color-album-backGround);
  color: white;
  border-radius: 15px;
  border: none;
  padding: 8px 20px;
  text-align: center;
  width: 10rem;
  height: 2rem;
  margin: auto;
  transition: all .2s;
}

.reminderBox button:hover,
.reminderBox a:hover{
  background-color: white;
  color: black;
  transform: scaleX(1.2) scaleY(1.2);
}


@keyframes moveInBottom {
  0% {
      opacity: 0;
      transform: translateY(3rem);
  }

  100% {
      opacity: 1;
      transform: translate(0);
  }
}

