.main{
    width: 100%;
    color: white;
}


.header{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 2rem;
    color: white;
    background-color: blue;
    font-family: 'Roboto Condensed', sans-serif;
    
}

.header h2 {
    font-size: 6.5rem;
    letter-spacing: 1;
    margin-left: 1rem;
   
}

.header img{
    width: 15rem;
    height: 15rem;
}

.profileLink{
    text-decoration: none;
    color: white;
}

.profileLink:hover{
    text-decoration: underline;
}

 /* .trackInfo{
    color: white

}  */