.main {
  width: 100%;
  font-family: "Roboto Condensed", sans-serif;
}

.header {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 2rem;
}

.header h2 {
  letter-spacing: 1;
  margin-left: 1rem;
  margin-top: 0.5rem;
  font-size: calc(5rem + 2vw);
}

.header .album_cover {
  width: 12rem;
  height: 12rem;
  background-color: var(--color-album-backGround);
}

.banner_text h1,
h4,
h5 {
  color: var(--color-album-backGround);
  padding-left: 2rem;
  line-height: 3.5rem;
}
.banner_text h1 {
  font-size: calc(3rem + 2vw);
}
.mainContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: Helvetica, sans-serif;
}
.awesome {
  align-items: center;
  color: var(--color-gold);
}
.song-container h2,
h6 {
  color: var(--color-gold);
  text-align: center;
}
.song-container h2 {
  margin-top: 2rem;
  font-size: calc(1rem + 2vw);
}
.song-container h6 {
  font-size: 0.9rem;
}
.text-body {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.text-body button {
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 15px;
  border: none;
  background-color: var(--color-green);
  color: var(--color-album-backGround);
}
.text-body button:hover {
  color: var(--color-gold);
  box-shadow: 1px 1px 10px var(--color-gold);
}
