.main {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: Helvetica, sans-serif;
  margin-top: 1rem;
  margin-left: -2%;
  gap: 1rem;
}
.navlink {
  text-decoration: none;
  color: var(--color-green);
}
