.main  {
  color: white;
   background-color:white;
 
}

.main, .login-button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.3rem;
  
  z-index: 1000;
  text-align: center;
  border-radius: 1.5rem;
}

.main > img {
  width: 3rem;
  height: 3rem;
}

.main:hover{
  background-color: rgb(28, 190, 28)
}

.main > a, .login-button > a {
  
  font-size: .6rem;
  color: black;
  padding: 1rem;
  text-decoration: none;
 

}


.userImg{
  overflow: hidden;
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 50%;
 
}
.logoImg{
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  background-color: black;
}

.login-button > a {
  font-family:  Helvetica, sans-serif;
  font-size: 1rem;
}
.login-button{
  justify-content: space-between;
  background-color: var(--color-orange);
  color: white;
  
}

.login-button:hover{
  cursor: pointer;
  background-color: var( --color-gold)
}