/* .track {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.track__name {
  color: white;
}
.track__artists {
  color: #b3b3b3;
}
 */