.playlist {
  margin: 0 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #e0dede;
}
.title {
  color: white;
  font-size: 4rem;
}
.image img {
  height: 15rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}


.header {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 2rem;
  color: white;
  background-color: blue;
  font-family: "Roboto Condensed", sans-serif;
}

.header h2 {
  letter-spacing: 1;
  margin-left: 1rem;
  margin-top: 0.5rem;
  font-size: calc(3rem + 2vw);
}
.header h4 {
  letter-spacing: 1;
  margin-left: 1rem;
  margin-top: 2.5rem;
}

.playlist img {
  width: 15rem;
  height: 15rem;
}

.headerInfo {
  margin: 1.5rem;
  letter-spacing: 2;
}

.headerInfo div {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.headerInfo div > span {
  border-radius: 100%;
  width: 0.2rem;
  height: 0.2rem;
  background-color: white;
  border: 1px solid white;
}
.artist_info {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.artist_image {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}
.profileLink {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.profileLink:hover {
  text-decoration: underline;
}
/* Lyrics */
.song-main {
  width: 60%;
}

.song-container {
  display: flex;

  align-items: flex-start;
  margin: 3rem 1rem;
}

.artist_profile_image {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.mainContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: Helvetica, sans-serif;
}
/* Title for popular tracks */
.popular_track {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0.5rem 1rem;
}

.song-info,
.playlist-container {
  width: 95%;
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.playlist-container:hover {
  background-color: #222222bb;
  border-radius: 2.5px;
}

.playlist-container:visited {
  color: white;
  background-color: gray;
  border-radius: 5px;
}

.active {
  background-color: #444444bb;
}

.active:hover {
  background-color: #444444bb;
}

.playlist-container {
  margin-bottom: 0.5rem;
}

.song-info {
  margin: 2rem 0;
  border-bottom: 1px solid gray;
}
.song-title,
.playlistInfo,
.trackImg {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
.trackImg {
  display: flex;
  justify-content: right;
}
.trackImg img {
  width: 3rem;
  height: 3rem;
}
.trackInfo {
  width: 40%;
}

.song-release {
  width: 21.5%;
}
.track_index {
  width: 15px;
}
.album-info,
.album-date {
  width: 50%;
}
.playlistInfo {
  width: 12%;
}
.track-duration {
  width: 2%;
}
.show_btn {
  margin-left: 45%;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
}
