.main {
  background-color: var(--color-backGround);
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
}

.routes {
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
}
.songReminder_container {
  height: 100vh;
  width: 100vw;
  margin-top: 3rem;
  background-color: var(--color-backGround);
  display: flex;
  justify-content: center;
  align-items: center;
}
